umap-learn
visdom
librosa>=0.8.0
matplotlib>=3.3.0
numpy==1.19.3; platform_system == "Windows"
numpy==1.19.4; platform_system != "Windows"
scipy>=1.0.0
pyworld >= 0.2.10
tqdm
sounddevice
SoundFile
Unidecode
inflect
phonemizer>=0.2.10
PyQt5
multiprocess
numba
 # If webrtcvad does not work, you'll need ffmpeg & visual C++ tools installed: 
 # https://stackoverflow.com/questions/40018405/cannot-open-include-file-io-h-no-such-file-or-directory/50210015#50210015
webrtcvad
sox
webvtt-py
accelerate==0.4.0
# pybind11
psutil
h5py
filelock
pyyaml